<%= content_tag :div, 'Loading...', id:'container', style:"display:none", 
    data: {messages:Message.all, listing_area: 'listing_area', edit_area: 'edit_area'} %>

<div class="container" id="listing_area">
    <div class="title">
        <h1>Listing Messages</h1>
    </div>
    
    <div id="messages">
        <ul id="message-list">
            
        </ul>
    </div>
    
 </div>

</div>

<div id="edit_area" style="display:none;">

</div>
