<div class="container">
       <div class="title">
        <h1>Edit Message</h1>
    </div>
    <form>
        <div class="field">
            <label for="Subject">Subject</label>
            <input type="text" value="<%-subject%>"/>
        </div>
        <div class="field">
            <label for="body">Body</label>
            <textarea cols='45' rows='10'><%-body%></textarea>
        </div>
        <div class="field">
           <button class="save">
              Submit    
           </button>
        </div>
    </form>
</div>
