<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
 <head>
  <title> Gmail file upload </title>
  <meta name="generator" content="editplus">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <script src="/assets/jquery.js"></script>
  <script src="/assets/script.js"></script>
  <link rel="stylesheet" href="/assets/html5_uploader.css">
 </head>
 <body>
  <input type="file" id="fileElem" multiple="true" accept="image/*" onchange="handleFiles(this.files)"> 
	<span style="font-size:14px;color: #1F6289;font-weight:bold;">Browse and select OR Drop file below</span> 
	<div id="dropbox">Drag and Drop Files Here</div>
	<div class="upload-progress"></div>
  </body>
</html>
<script>

</script>
