.article{
  margin-bottom: 10px;
  line-height: 1.5;
}

.article .title{
  color:#800080;
}


.comments{
  background-color: #9CF49C;
  margin-top: 20px;
  border: 2px solid #0040D0;
  padding: 5px;
  padding-left: 20px
}

.comment{
  padding: 10px;
  margin: 5px 0px 5px 0px;
  color: darkred;
}