<div id="message_app">
    
    
    <div id="title">
        <h1>Listing Messages</h1>
    </div>
    
    <div id="messages">
        <ul id="message-list">
            
        </ul>
    </div>
    
</div>
