<h3>Simple Example</h3>
<div id='data'>
</div>

<h3>Iterator Example 1</h3>
<div id="comments">
</div>

<h3>Iterator Example 2</h3>
<div id="people">
</div>

<h3>Helper Example</h3>
 <div id="story">
 </div>

<script id="entry-template" type="text/x-handlebars-template">
    <div class="entry">
      <h1>{{title}}</h1>
      <div class="body">
        {{body}}
      </div>
    </div>
</script>

<script type="text/javascript">
  var source = $("#entry-template").html();
  var context = { title: 'My Title', body: 'Awesome Title' };
  var template = Handlebars.compile(source);
  var html = template(context);
  $("#data").html(html);
</script>

<script type="text/x-handlebars-template" id="iterator">
    <div class='post'>
      <h4>By {{ fullName author }}</h4>
      <div class='body'>
        {{body}}
      </div>
      <div class='comments'>
        {{#each comments}}
           <h5>By {{person_name}}</h5>
           {{ comment }}
        {{else}}
           <h5>No comments found</h5>                             <!-- if comments in context is left with {}, this will be displayed -->
        {{/each}}
      </div>
    </div>
</script>

<script type="text/javascript">
  var source = $("#iterator").html();
  var context = {
      author: {firstName: 'Prashant', lastName: 'Sahni'},
      body: "I love Handle Bar",
      comments: [{ person_name: 'Anand', comment: 'Awesome Post!'}]
  }

  Handlebars.registerHelper('fullName', function(person) {
      return person.firstName + " " + person.lastName;
  });

   var template = Handlebars.compile(source);
   var html = template(context);
   $("#comments").html(html);
</script>

<script type="text/x-handlebars-template" id="people_template">
    <div class='people'>
      {{log "Look at me!"}}
      {{#each people}}
        <ul class='person'>
          <li>{{ this }}</li>
        </ul>
      {{/each}}
    </div>
</script>
<script type="text/javascript">
  var source = $("#people_template").html();
  var template = Handlebars.compile(source);
  var context = {people: ['Prashant', 'Deepshikha', 'Shubhum']};
  var html = template(context);
  $("#people").html(html);

</script>

<script type="text/javascript">
    Handlebars.registerHelper('link', function(object){
       // return "<a href='" + object.url + "' target='_blank'>" + object.text + "</a>"
        return new Handlebars.SafeString("<a href='" + object.url + "'>" + object.text + "</a>");

    });
</script>

<script type="text/x-handlebars-template" id="helper1">
    {{{link story}}}
</script>

<script type="text/javascript">
  var source   = $("#helper1").html();
  var template = Handlebars.compile(source);
  var context  = { story: { url: 'http://prashantsahni.in', text: 'My Website'} };
  var html = template(context);
  $("#story").html(html);
</script>

<h3>Helper Example 2</h3>
<div id="people_list_helper">
</div>

<script type="text/javascript">
  Handlebars.registerHelper('list', function(items, options){
   var out = '<ul>';
   var length = items.length;
   for(i=0; i< length;i++){
     out = out+"<li>" +  options.fn(items[i]) + "</li>";
   }
   return out  + '</ul>';
  });
</script>
<script type="text/x-handlebars-template" id="helper2">
    {{#list people}}{{firstName}} {{lastName}}{{/list}}
</script>

<script type="text/javascript">
  var source = JST['templates/people']();
  var template = Handlebars.compile(source);
  var context = {people: [{firstName: 'Prashant', lastName: 'Sahni'},{ firstName: 'Dinesh', lastName: 'Singh'}, {firstName: 'Raja', lastName: 'Khan'}]};
  var html = template(context);
  $("#people_list_helper").html(html);
</script>


<!--
    http://blog.teamtreehouse.com/getting-started-with-handlebars-js
    http://javascriptissexy.com/handlebars-js-tutorial-learn-everything-about-handlebars-js-javascript-templating/
-->