<h3>Simple Example</h3>
<div id='data'>
</div>

<h3>Iterator Example 1</h3>
<div id="comments">
</div>

<h3>Iterator Example 2</h3>
<div id="people">
</div>

<script id="entry-template" type="text/x-handlebars-template">
    <div class="entry">
      <h1>{{title}}</h1>
      <div class="body">
        {{body}}
      </div>
    </div>
</script>

<script type="text/javascript">
  var source = $("#entry-template").html();
  var context = { title: 'My Title', body: 'Awesome Title' };
  var template = Handlebars.compile(source);
  var html = template(context);
  $("#data").html(html);
</script>

<script type="text/x-handlebars-template" id="iterator">
    <div class='post'>
      <h4>By {{ fullName author }}</h4>
      <div class='body'>
        {{body}}
      </div>
      <div class='comments'>
        {{#each comments}}
           <h5>By {{person_name}}</h5>
           {{ comment }}
        {{else}}
           <h5>No comments found</h5>                             <!-- if comments in context is left with {}, this will be displayed -->
        {{/each}}
      </div>
    </div>
</script>

<script type="text/javascript">
  var source = $("#iterator").html();
  var context = {
      author: {firstName: 'Prashant', lastName: 'Sahni'},
      body: "I love Handle Bar",
      comments: [{ person_name: 'Anand', comment: 'Awesome Post!'}]
  }

  Handlebars.registerHelper('fullName', function(person) {
      return person.firstName + " " + person.lastName;
  });

   var template = Handlebars.compile(source);
   var html = template(context);
   $("#comments").html(html);
</script>

<script type="text/x-handlebars-template" id="people_template">
    <div class='people'>
      {{log "Look at me!"}}
      {{#each people}}
        <ul class='person'>
          <li>{{ this }}</li>
        </ul>
      {{/each}}
    </div>
</script>
<script type="text/javascript">
  var source = $("#people_template").html();
  var template = Handlebars.compile(source);
  var context = {people: ['Prashant', 'Deepshikha', 'Shubhum']};
  var html = template(context);
  $("#people").html(html);

</script>
<!--

<div id="entry">
</div>

<div id="entry_list">

</div>

<div id="entry_list_2">

</div>


<script id="entry-template" type="text/x-handlebars-template">
  <div class="entry">
    <h1>{{title}}</h1>

    <div class="body">
      {{body}}
    </div>

    <div class="body">
      {{{body}}}
    </div>

  </div>
</script>

<script type="text/javascript">
var source   = $("#entry-template").html();
var template = Handlebars.compile(source);
var context = {title: "My New Post", body: "<p>This is my first post!</p>"}
var html    = template(context);
$("#entry").html(html);
</script>

<script type="text/javascript">

  /*
  * Registring a helper
  * */
    Handlebars.registerHelper('list', function(items, options) {
        var out = "<ul>";

        for(var i=0, l=items.length; i<l; i++) {
            out = out + "<li>" + options.fn(items[i]) + "</li>";
        }

        return out + "</ul>";
    });

   var context =  {
        people: [
            {firstName: "Yehuda", lastName: "Katz"},
            {firstName: "Carl", lastName: "Lerche"},
            {firstName: "Alan", lastName: "Johnson"}
        ]
    }

    var source = "{{#list people}}{{firstName}} {{lastName}}{{/list}}";
    //var source =   "<ul>{{#list}}<li>{{firstName}}{{lastName}}</li>{{/list}}</ul>";
    var template = Handlebars.compile(source);
    var html = template(context);

    $("#entry_list").html(html);


</script>
<script type="text/javascript">
    Handlebars.registerHelper('link_to', function(title, context) {
        return "<a href='/posts" + context.url + "'>" + title + "!</a>"
    });

    var context = { posts: [{url: "/hello-world", body: "Hello World!"}] };
    var source = '<ul>{{#posts}}<li>{{{link_to "Post" this}}}</li>{{/posts}}</ul>'

    var template = Handlebars.compile(source);
    var html = template(context);

    $("#entry_list_2").html(html);
</script>
-->

<!--
    http://blog.teamtreehouse.com/getting-started-with-handlebars-js
    http://javascriptissexy.com/handlebars-js-tutorial-learn-everything-about-handlebars-js-javascript-templating/
-->