


<!--<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=104808109570626";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id='facebook-like-button'>
 http://localhost:3005
</div>

<div id='gplus_button'>
 
</div>

<div class="fb-like" data-width="450" data-href= 'http://localhost:3005' data-send='true' data-show-faces="true" id='fb-like'></div>


<script type='text/javascript'>
 $(function(){
  
  $.ajax({
    url: "/testing/test",
    type: 'GET',
    async: false,  
    success: function(data){ $('#gplus_button').html(data) }
  });
  
  
 });
</script>
-->								    						        <!--<div id='inxo_content_xapp_widget'>
            <script type='text/javascript'>window.contentXappHost = 'http://staging.inxero.com';</script>
            <script type='text/javascript'>window.contentXappWidgetCode = '7ac3de6c24cf6817beb1246aee35ed7672609689&4';</script><script type='text/javascript' src='http://staging.inxero.com/assets/content_xapp_loader_js.js'></script></div>-->
<!--            
<div id='inxo_solutions_portfolio_xapp_widget'>
            <script type='text/javascript'>window.portfolioXappHost = 'http://local.inxero.com';</script>
            <script type='text/javascript'>window.portfolioXappWidgetCode = 'e7108d68fd8f25102128927e0de9f8c9672b2f48';</script><script type='text/javascript' src='http://local.inxero.com/javascripts/solutions_portfolio_xapp_loader.js'></script></div>
-->


<object width='425' height='348' id='dell_media_player'><param name='allowScriptAccess' value='always' />
   
   <param name='isExpandModeAvailable' value='true' /><param name='wmode' value='transparent' />
   
  <param name='movie' value='http://content-cdn.dell.com/flash/default/media_player/delphi_media_player.swf' />
   
   
   
   <param name='FlashVars' value='appWidth=425&basePath=http%3A//content-cdn.dell.com/flash/default/media_player/&XMLFile=en/controlText.xml&CSSFile=http%3A//content-cdn.dell.com/flash/default/media_player/assets/css/media_player_theme.css&fontFile=western.swf&playerType=related&languageCode=en&isExpandAvailable=true&isFullScreenAvailable=false&mediaTitle=Virtualization%20and%20Cloud&thumb=http%3A//i.dell.com/sites/content/videos/en/PublishingImages/virtualization-cloud-voc-102010_flv.jpg&media=http%3A//i.dell.com/sites/content/videos/en/Documents/virtualization-cloud-voc-102010.flv&destination=http%3A//content.dell.com/us/en/corp/d/videos%7Een/Documents%7Evirtualization-cloud-voc-102010.flv.aspx' />
   
   
   <embed id='dell_media_player_142078' FlashVars='appWidth=425&basePath=http%3A//content-cdn.dell.com/flash/default/media_player/&XMLFile=en/controlText.xml&CSSFile=http%3A//content-cdn.dell.com/flash/default/media_player/assets/css/media_player_theme.css&fontFile=western.swf&playerType=related&languageCode=en&isExpandAvailable=true&isFullScreenAvailable=false&mediaTitle=Virtualization%20and%20Cloud&thumb=http%3A//i.dell.com/sites/content/videos/en/PublishingImages/virtualization-cloud-voc-102010_flv.jpg&media=http%3A//i.dell.com/sites/content/videos/en/Documents/virtualization-cloud-voc-102010.flv&destination=http%3A//content.dell.com/us/en/corp/d/videos%7Een/Documents%7Evirtualization-cloud-voc-102010.flv.aspx' width='425' height='348' src='http://content-cdn.dell.com/flash/default/media_player/delphi_media_player.swf' isExpandModeAvailable='true' allowScriptAccess='always'/>
   
</object>            

<script>

 var image = 'http://i.dell.com/sites/content/videos/en/PublishingImages/'
 
 var flash_vars = { 
                    appWidth:  425, 
                    XMLFile: 'en/controlText.xml',
                    basePath: 'http://content-cdn.dell.com/flash/default/media_player/&XMLFile=en/controlText.xml',
                    CSSFile: 'http://content-cdn.dell.com/flash/default/media_player/assets/css/media_player_theme.css',
                    fontFile: 'western.swf',
                    playerType: 'related',
                    languageCode: 'en',
                    isExpandAvailable: true,
                    isFullScreenAvailable: false,
                    mediaTitle: 'Virtualization%20and%20Cloud',
                    thumb: 'http://i.dell.com/sites/content/videos/en/PublishingImages/virtualization-cloud-voc-102010_flv.jpg',
                    media: 'http://i.dell.com/sites/content/videos/en/Documents/virtualization-cloud-voc-102010.flv',
                    destination: 'http://content.dell.com/us/en/corp/d/videos%7Een/Documents~virtualization-cloud-voc-102010.flv.aspx',
                    width: 425,
                    height: 348,
                    src: 'http://content-cdn.dell.com/flash/default/media_player/delphi_media_player.swf'
                  }
                  
 console.log(jQuery.param(flash_vars) )
 
 var code = "<object width='425' height='348'"  + ">" +
            "<param name ='allowScriptAccess'     value='always'" +   "/>" +
            "<param name ='isExpandableAvailable' value='true'" +  "/>" +
            "<param name ='wmode'     value='transparent'" + "/>" +
            "<param name ='movie'     value='http://content-cdn.dell.com/flash/default/media_player/delphi_media_player.swf'" + "/>"  +
            "<param name ='FlashVars' value='" + jQuery.param(flash_vars) +  "'/>" +
            "<embed id='dell_media_player'  isExpandModeAvailable='true' allowScriptAccess='always' FlashVars='" + jQuery.param(flash_vars)  + "'/>"  +
            "</object>"
 //console.log(code)
 $(function(){
 // $('#oembed').html( code )
 })
 
</script>

<div id='oembed'>
</div>
              <div id='inxo_solution_xapp_widget'>
            <script type='text/javascript'>window.inxeroHost = 'http://local.inxero.com:3000';</script>
            <script type='text/javascript'>window.inxeroSocialWidgetCode = 'df79e113b6a3b12bea1ef566c8406224e40ce836&28';</script><script type='text/javascript' src='http://local.inxero.com:3000/assets/solution_xapp_loader_js.js'></script></div>
            
<!--
<object width='425' height='348' id='dell_media_player_62721'>
   <param name='allowScriptAccess' value='always' />
   
   <param name='isExpandModeAvailable' value='true' />
   <param name='wmode' value='transparent' />
   
   <param name='FlashVars' value='appWidth=425&basePath=http%3A//content-cdn.dell.com/flash/default/media_player/&XMLFile=en/controlText.xml&CSSFile=http%3A//content-cdn.dell.com/flash/default/media_player/assets/css/media_player_theme.css&fontFile=western.swf&playerType=related&languageCode=en&isExpandAvailable=true&isFullScreenAvailable=false&mediaTitle=Baker%20Tilly%20-%20Windows%207&thumb=http%3A//i.dell.com/sites/content/business/solutions/operating-systems/en/PublishingImages/baker_tilly_thumb.jpg&media=http%3A//i.dell.com/sites/content/videos/en/Documents/baker_tilly_400k.flv&destination=http%3A//content.dell.com/us/en/corp/d/videos%7Een/Documents%7Ebaker_tilly_400k.flv.aspx' />
   
   <param name='movie' value='http://content-cdn.dell.com/flash/default/media_player/delphi_media_player.swf' />
   
   <embed id='dell_media_player_62721' FlashVars='appWidth=425&basePath=http%3A//content-cdn.dell.com/flash/default/media_player/&XMLFile=en/controlText.xml&CSSFile=http%3A//content-cdn.dell.com/flash/default/media_player/assets/css/media_player_theme.css&fontFile=western.swf&playerType=related&languageCode=en&isExpandAvailable=true&isFullScreenAvailable=false&mediaTitle=Baker%20Tilly%20-%20Windows%207&thumb=http%3A//i.dell.com/sites/content/business/solutions/operating-systems/en/PublishingImages/baker_tilly_thumb.jpg&media=http%3A//i.dell.com/sites/content/videos/en/Documents/baker_tilly_400k.flv&destination=http%3A//content.dell.com/us/en/corp/d/videos%7Een/Documents%7Ebaker_tilly_400k.flv.aspx' width='425' height='348' src='http://content-cdn.dell.com/flash/default/media_player/delphi_media_player.swf' isExpandModeAvailable='true' allowScriptAccess='always'/>
   
</object>

<object width='425' height='348'>

<param name ='allowScriptAccess' value='always'/>

<param name ='isExpandableAvailable' value='true'/>

<param name ='wmode' value='transparent'/>

<param name ='movie' value='http://content-cdn.dell.com/flash/default/media_player/delphi_media_player.swf'/>

<param name ='FlashVars' value='appWidth=425&basePath=http%3A//content-cdn.dell.com/flash/default/media_player/&XMLFile=en/controlText.xml&CSSFile=http%3A//content-cdn.dell.com/flash/default/media_player/assets/css/media_player_theme.css&fontFile=western.swf&playerType=related&languageCode=en&isExpandAvailable=true&isFullScreenAvailable=false&mediaTitle=Virtualization%20and%20Cloud&thumb=http%3A//i.dell.com/sites/content/videos/en/PublishingImages/virtualization-cloud-voc-102010_flv.jpg&media=http%3A//i.dell.com/sites/content/videos/en/Documents/virtualization-cloud-voc-102010.flv&destination=http%3A//content.dell.com/us/en/corp/d/videos~en/Documents~virtualization-cloud-voc-102010.flv.aspx'/>

<embed id='dell_media_player' isExpandModeAvailable='true' allowScriptAccess='always' FlashVars='appWidth=425&basePath=http%3A//content-cdn.dell.com/flash/default/media_player/&XMLFile=en/controlText.xml&CSSFile=http%3A//content-cdn.dell.com/flash/default/media_player/assets/css/media_player_theme.css&fontFile=western.swf&playerType=related&languageCode=en&isExpandAvailable=true&isFullScreenAvailable=false&mediaTitle=Virtualization and Cloud&thumb=http%3A//i.dell.com/sites/content/videos/en/PublishingImages/virtualization-cloud-voc-102010_flv.jpg&media=http://i.dell.com/sites/content/videos/en/Documents/virtualization-cloud-voc-102010.flv&destination=http://content.dell.com/us/en/corp/d/videos~en/Documents~virtualization-cloud-voc-102010.flv.aspx' width='425' height='348' src='http://content-cdn.dell.com/flash/default/media_player/delphi_media_player.swf' isExpandModeAvailable='true' allowScriptAccess='always'/>

</object>


<object width='425' height='348'>

<param name ='allowScriptAccess' value='always'/>

<param name ='isExpandableAvailable' value='true'/>

<param name ='wmode' value='transparent'/>

<param name ='movie' value='http://content-cdn.dell.com/flash/default/media_player/delphi_media_player.swf'/>

<param name ='FlashVars' value='appWidth=425&basePath=http%3A//content-cdn.dell.com/flash/default/media_player/&XMLFile=en/controlText.xml&CSSFile=http%3A//content-cdn.dell.com/flash/default/media_player/assets/css/media_player_theme.css&fontFile=western.swf&playerType=related&languageCode=en&isExpandAvailable=true&isFullScreenAvailable=false&mediaTitle=Virtualization%20and%20Cloud&thumb=http%3A//i.dell.com/sites/content/videos/en/PublishingImages/virtualization-cloud-voc-102010_flv.jpg&media=http%3A//i.dell.com/sites/content/videos/en/Documents/virtualization-cloud-voc-102010.flv&destination=http%3A//content.dell.com/us/en/corp/d/videos~en/Documents~virtualization-cloud-voc-102010.flv.aspx'/>

<embed id='dell_media_player' isExpandModeAvailable='true' allowScriptAccess='always' FlashVars='appWidth=425&basePath=http%3A//content-cdn.dell.com/flash/default/media_player/&XMLFile=en/controlText.xml&CSSFile=http%3A//content-cdn.dell.com/flash/default/media_player/assets/css/media_player_theme.css&fontFile=western.swf&playerType=related&languageCode=en&isExpandAvailable=true&isFullScreenAvailable=false&mediaTitle=Virtualization%20and%20Cloud&thumb=http%3A//i.dell.com/sites/content/videos/en/PublishingImages/virtualization-cloud-voc-102010_flv.jpg&media=http%3A//i.dell.com/sites/content/videos/en/Documents/virtualization-cloud-voc-102010.flv&destination=http%3A//content.dell.com/us/en/corp/d/videos~en/Documents~virtualization-cloud-voc-102010.flv.aspx' width='425' height='348' src='http%3A//content-cdn.dell.com/flash/default/media_player/delphi_media_player.swf'/>

</object>






<object type="application/x-shockwave-flash" height="300" width="400" id="live_embed_player_flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=katgunn" bgcolor="#000000">

<param name="allowFullScreen" value="true" />
<param name="allowScriptAccess" value="always" /><param name="allowNetworking" value="all" />
<param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" /><param name="flashvars" value="hostname=www.twitch.tv&channel=katgunn&auto_play=false&start_volume=25" /></object><a href="http://www.twitch.tv/katgunn#r=-rid-&amp;s=em" class="trk" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline; text-align:center;">Watch live video from katgunn on www.twitch.tv</a>
-->


