<script>
$(function(){
    $("#jst").html(JST['templates/helloworld']());
});
</script>

<div class="container">
  <div id="jst">
  </div>
</div>
<!--
  <iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dDk4czNIRGxnSm55SXI0UVRtRmE2a1E6MQ" width="400" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
-->
