<html>

<head>
      <!--
        We are setting the width of the page to the width of the device and initially scaling it to 1, i.e. default size.
      -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="http://www.zetiz.com/sitepoint-responsive-demo/css/bootstrap.css">
      <link rel="stylesheet" href="http://www.zetiz.com/sitepoint-responsive-demo/css/bootstrap-responsive.css">
      <link rel="stylesheet" href="http://www.zetiz.com/sitepoint-responsive-demo/css/customstyle.css"

    </head>

    <body>
        <!--
            The Responsive Navigation
            Marketing Area
            Contents Section
            Right side bar
            Footer

        -->

        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-th-list"></span>
              </a>
              <a href="#" class="brand">responsiveSite</a>
              <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
            </div><!-- Container-->
          </div>
        </div>

        <div class="hero-unit">
          <div class="container">
            <h1>Learn Geometry</h1>
            <p class="lead">Oat cake chocolate cake sugar plum sesame snaps. Bonbon danish oat cake chupa chups tart muffin tootsie roll sweet roll sweet roll.</p>
            <p><a href="#" class="btn btn-success btn-large">Get Started</a></p>
          </div>
        </div>

        <div class="container">

          <div class="row-fluid">
            <div class="span7 offset1">
              <p>Tart tiramisu ice cream cotton candy pudding. Sweet topping chocolate bar tootsie roll cotton candy brownie oat cake gummi bears. Danish cookie pudding powder. Pastry cotton candy tart topping. Dessert sesame snaps oat cake bear claw toffee jelly.</p>
              <p class="lead">Marshmallow soufflé wypas.</p>
              <p>Apple pie applicake sweet roll marzipan. Marzipan bear claw pudding jujubes sweet. Halvah sweet roll tiramisu liquorice candy canes halvah. Oat cake chocolate cake sugar plum sesame snaps. Bonbon danish oat cake chupa chups tart muffin tootsie roll sweet roll sweet roll. Sweet tootsie roll dragée cookie bear claw sweet roll jelly-o tootsie roll sweet.</p>
              <div class="row-fluid">
                <div class="span4">
                  <h4>Our Clients</h4>
                  <p>Hello These are our clients. <a href="#">Click here</a>.</p>
                  <a href="#" class="btn btn-primary"><i class="icon-heart icon-white"></i> Our Clients</a>
                </div>
                <div class="span4">
                  <h4>Our Clients</h4>
                  <p>Hello These are our clients. <a href="#">Click here</a>.</p>
                  <a href="#" class="btn btn-primary"><i class="icon-music icon-white"></i> Our Clients</a>
                </div><div class="span4">
                <h4>Our Clients</h4>
                <p>Hello These are our clients. <a href="#">Click here</a>.</p>
                <a href="#" class="btn btn-primary"><i class="icon-file icon-white"></i> Our Clients</a>
              </div>
              </div>
            </div>

            <div class="span4 well">
              <ul class="nav nav-list">
                <li class="nav-header">Our Services</li>
                <li class="active"><a href="#">Overview</a></li>
                <li><a href="#">Web Designing</a></li>
                <li><a href="#">Web Development</a></li>
                <li><a href="#">Android Applications</a></li>
                <li class="divider"></li>
                <li class="nav-header">Our Services</li>
                <li><a href="#">Overview</a></li>
                <li><a href="#">Web Designing</a></li>
                <li><a href="#">Web Development</a></li>
                <li><a href="#">Android Applications</a></li>
                <li class="divider"></li>
                <li><a href="#">Help</a></li>
              </ul>
            </div>
          </div>

        </div>
        <hr/>
        <div class="container">
          <div class="row-fluid">
            <div class="span4">
              <p>© 2013 <a href="#">Zetiz Labs</a></p>
            </div>
            <div class="span4 text-right">
              <ul class="nav inline">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul>
            </div>
            <div class="span4 text-right">
              <p>Powered By Twitter BootStrap 2.3.2</p>
            </div>
          </div>
        </div>
    </body>
</html>
