
<h1>Tracking Custom Variable</h1>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(["_setAccount", "UA-1234-1"]);
    _gaq.push(["_setDomainName", "none"]);
    _gaq.push(["_trackPageview"]);

    _gaq.push(['_setCustomVar',
        1,                   // This custom var is set to slot #1.  Required parameter.
        'Items Removed',     // The name acts as a kind of category for the user activity.  Required parameter.
        'Yes',               // This value of the custom variable.  Required parameter.
        2                    // Sets the scope to session-level.  Optional parameter.
    ]);
    _gaq.push(['_trackEvent',`
        'Shopping', // category of activity
        'Item Removal', // Action
    ]);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>