<!DOCTYPE html>
<html>
<head>
  <title>TestingApp</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <!-- Place this tag in your head or just before your close body tag -->
</head>
<body>

  <%= yield %>

</body>
</html>
